
.subheading {
    @include sub-border
}
.what-wrapper {
    margin: 40px 0
}
.txt-bold {
    font-weight: $textBold;
}
.sub-left {
    margin: 34% 0 0 20%;
}

.place-time-wrapper i {
    margin: 7% 0 0 20%;
    color:$charryColor;
    font-size: 40px;
    vertical-align: bottom;
    font-weight: $textBold;
}
.place-time-wrapper i:last-child {
    margin-top: 10px;
}
.place-time-wrapper span {
    @include font-special-gray;
    font-size: 23px;
}
 h1::before { 
    content: url(../img/line.jpg);
    vertical-align: super;
    margin-right: 20px;
    margin-left: -150px;
}
.what-wrapper p {
    font-size: $nav-font-size;
}