.about-quantox {
    padding: 30px 0px;
}
.about-txt {
    font-size: $nav-font-size;
}
.green-background {
    background-image: url("../img/PHP_Srbija_background.jpg");
    height: 455px;
    max-width: 100%;
    background-size: cover;
    padding-bottom: 29px;
}
.about-img {
    width: 100%;
    height: 100%;
    padding-top: 20%;
}