/*TABLET SCREENS*/
@media screen and (max-width: 1280px){
    .galery-holder > div {

    }
}

@media screen and (max-width: 1200px){
    .navbar-nav {
        font-size: 13px;
    }
    .social-contact {
        padding: 50px 100px 50px -20px;
    }
}
@media screen and (max-width: 1085px){
    .navbar-nav {
        font-size: 13px;
    }
    .team-icons{
        font-size: 30px;
    }
    .about-text {
        font-size: 25px;
        border: 6px solid black;
        height: 70px;
        width: 260px;
    }
}

@media screen and (max-width: 980px){

    .navbar-right{
        margin-right:0;
    }
    .nav-first {
        margin-left: -30px;
    }
    .galery-holder > div {
        width: calc(20%);
/*        height: 190px;*/
    }
    .text-left , .top-quote , .bottom-quote {
        display: none;
     }

}

@media screen and (max-width: 800px){
    .galery-holder > div:first-of-type {
        width: calc(100% - 33.3%);
    }
    .galery-holder > div {
/*        height: 260px;*/
        width: 33.3%;
    }
}

@media screen and (max-width: 769px){
    .galery-holder > div {
        width: calc(50%);
/*        height: 377px;*/
    }
    .about-text {
        left:75%;
    }
    .galery-holder .about-text {
        display: none;
    }
    .about-us .about-text {
        left:50%;
    }
    .team-icons {
        font-size: 25px;
    }
    .cover-text {
        font-size: 18.5px;
    }
}


@media screen and (max-width: 360px) {

    .text-left , .top-quote , .bottom-quote {
        display: none;
     }
    .cover-text {
        max-width: 100%;
    }
    .social-contact .team-icons {
        font-size: 25px;
        margin-right: 0;
    }
    .galery-holder > div {
        width: calc(100%);
/*        height: 354px;*/
    }

    .nav-first {
        margin-left: -15px;
    }
    .nav-navbar a {
        color:black;
        font-weight: bold;
    }
    .nav > li > a {
        display: relative;
    }

    .about-text {
        left:75%;
    }
    .about-us .about-text {
        left:50%;
    }
    .social-contact {
        padding: 50px;
    }
    .active {
    border-bottom: none;
    }
}


