$mainColor: #98cb3b;
$mainFontColor: #fff;
$blackFontColor: #000;
$grayColor: #ebebeb;
$grayDark:#666666;
$charryColor: #b3173d;

$base-font-size: 14px;
$nav-font-size: 16px;
$mid-font-size: 18px;

$textBold: bold;